# flyctl launch added from .gitignore

# Python
**/__pycache__
**/*.py[cod]
**/*$py.class

# Virtual Environment
**/venv
**/.env

# Environment Variables
**/.env
**/*.env

# IDEs
**/.vscode
**/.idea

# macOS
**/.DS_Store

# Logs
**/*.log

# Database
**/*.sqlite3

# Build / Distribution
**/build
**/dist
**/*.egg-info

# Testing
**/.coverage
**/.pytest_cache

# Misc
**/*.swp

# Python
**/__pycache__
**/*.py[cod]
**/*$py.class

# Virtual Environment
**/venv
**/.env

# Environment Variables
**/.env
**/*.env

# IDEs
**/.vscode
**/.idea

# macOS
**/.DS_Store

# Logs
**/*.log

# Database
**/*.sqlite3

# Build / Distribution
**/build
**/dist
**/*.egg-info

# Testing
**/.coverage
**/.pytest_cache

# Misc
**/*.swp

# flyctl launch added from frontend/.gitignore
# Logs
frontend/**/logs
frontend/**/*.log
frontend/**/npm-debug.log*
frontend/**/yarn-debug.log*
frontend/**/yarn-error.log*
frontend/**/pnpm-debug.log*
frontend/**/lerna-debug.log*

frontend/**/node_modules
frontend/**/dist
frontend/**/dist-ssr
frontend/**/*.local

# Editor directories and files
frontend/**/.vscode/*
!frontend/**/.vscode/extensions.json
frontend/**/.idea
frontend/**/.DS_Store
frontend/**/*.suo
frontend/**/*.ntvs*
frontend/**/*.njsproj
frontend/**/*.sln
frontend/**/*.sw?
fly.toml
